.center {
    text-align: center;
}

.info-group {
    max-width: 500px;
    margin: 0 auto;
}

.question-group {
    max-width: 600px;
    margin: 0 auto;
}

.question-item {
    margin-top: 40px;
}

.required {
    color: red;
}

.warn {
    color: red;
}

.footer {
    height: 50px;
}

.background {
    position: relative;
}

.pig {
    position: absolute;
    cursor: pointer;
}

#pig-1 {
    height: 66px;
    width: 96px;
    animation: pig-waiting-1-keyframes .2s steps(3) infinite alternate;
    background: url(../images/pig-waiting-1.svg) no-repeat;
}

#pig-2 {
    height: 38px;
    width: 52px;
    animation: pig-waiting-2-keyframes .2s steps(3) infinite alternate;
    background: url(../images/pig-waiting-2.svg) no-repeat;
}

#pig-3 {
    height: 46px;
    width: 64px;
    animation: pig-waiting-3-keyframes .2s steps(3) infinite alternate;
    background: url(../images/pig-waiting-3.svg) no-repeat;
}

#pig-4 {
    height: 68px;
    width: 96px;
    animation: pig-waiting-4-keyframes .2s steps(3) infinite alternate;
    background: url(../images/pig-waiting-4.svg) no-repeat;
}

@keyframes pig-waiting-1-keyframes {
    from { background-position:  0px; }
    to { background-position: -288px; }
}

@keyframes pig-waiting-2-keyframes {
    from { background-position:  0px; }
    to { background-position: -156px; }
}

@keyframes pig-waiting-3-keyframes {
    from { background-position:  0px; }
    to { background-position: -192px; }
}

@keyframes pig-waiting-4-keyframes {
    from { background-position:  0px; }
    to { background-position: -288px; }
}
